# Ignore all `.log` files
*.log  

# Ignore specific folder
/node_modules/  

# Ignore compiled Python files
__pycache__/  

# Ignore environment files
.env  


bootcamp_practice/data/
bootcamp_practice/data/MNIST
assignment/experiments/
assignment/data/
computer_vision/asssignment3/yolov8n.pt
computer_vision/asssignment3/penn_fudan.yaml
computer_vision/asssignment3/best_horse_model.pth
computer_vision/asssignment3/yolo_data/
computer_vision/asssignment3/checkpoints/
computer_vision/asssignment3/horse/
computer_vision/asssignment3/PennFudanPed/